.depend
pyim/
.wg-file.el
/auto-save-list
/.session*
/custom.el
*.elc
CVS
.svn
*_flymake.el
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/.org-id-locations
cookies
/newsticker
\#*
/elpa
eshell/
semanticdb/
*.swp
*~
\#*\#abbrev_defs
/swank
/server
TAGS
GTAGS
GPATH
GRTAGS
tutorial/
org-clock-save.el
.\#*
/emms/
places
/irony
/idlwave
/request
/.directory
/srecode-map.el
/lisp/flycheck_init-git.el
/lisp/flycheck_init-gtags.el
/.cache/
/anaconda-mode
/session*
/.python-environments
