.depend
pyim/
.wg-file.el
/url/cache
/.emacs.desktop
/auto-save-list
/.session*
/custom.el
*.elc
CVS
.svn
*_flymake.el
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
eshell/
semanticdb/
*.swp
*~
\#*\#abbrev_defs
/swank
/server
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
.emacs.d/emms/
tutorial/
/var
org-clock-save.el
.\#*
emms/
projectile-bookmarks.eld
history
recentf
bookmarks
places
ido.last
projectile.cache
/irony
/idlwave
/request
/.directory
/company-statistics-cache.el
/srecode-map.el
/lisp/flycheck_init-git.el
/lisp/flycheck_init-gtags.el
/.cache/
/anaconda-mode
/session*
/.python-environments
