.depend
/auto-save-list
/.session*
/session*
/custom.el
*.elc
CVS
.svn
*~
*.log
.yas-compiled-snippets.el
.cvsignore
.*.lock
cookies
/newsticker
\#*
/elpa
/quelpa
semanticdb/
*.swp
*~
\#*\#abbrev_defs
/swank
/server
TAGS
GTAGS
GPATH
GRTAGS
tutorial/
.\#*
/emms/
/irony
/idlwave
/request
.directory
/srecode-map.el
flycheck_init-*.el
/.cache/
/.python-environments
*.desktop
/transient